{% extends "layout.html" %}
{% block content %}
{% from "_helpers.html" import render, bool_render %}
<div class="header">
  <h1 class="content-subhead">Add A Dog</h1>
</div>
<form method="POST" action={{ url_for('dogs.add') }} class="pure-form pure-form-aligned" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {% if form.errors %}
    <p class="missing">Please address the following errors:</p>
    <ul class="missing">
      {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
          <li>{{ form[field_name].label }}: {{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
    {% endif %}

    <fieldset>
        {{ render(form.name) }}
        {{ render(form.breed, value="Rhodesian Ridgeback") }}
        {{ render(form.sex) }}
        {{ render(form.status) }}
        {{ render(form.age) }}
        {{ render(form.mix) }}
        {{ render(form.size) }}
        {{ render(form.fee) }}
        {{ render(form.description, rows="10", class="pure-input-1-2") }}
    </fieldset>
    <fieldset>
        Check all that apply:<br />
        {{ bool_render(form.special_needs) }}
        {{ bool_render(form.home_without_dogs) }}
        {{ bool_render(form.home_without_cats) }}
        {{ bool_render(form.home_without_kids) }}
        {{ bool_render(form.fixed) }}
        {{ bool_render(form.shots) }}
        {{ bool_render(form.housetrained) }}
    </fieldset>
    <fieldset>
    {% for picture in form.uploads.entries %}
        <div class="pure-control-group">
            {{ picture.label(text="Picture "+loop.index|string+":") }}
            {{ picture }}
        </div>
    {% endfor %}
    </fieldset>
    <div class="pure-controls">{{ form.send(class="pure-button pure-button-primary") }}</div>
</form>
{% endblock %}
