{% extends "layout.html" %}
{% block content %}
{% if dogs %}
<div class="row-fluid">
<div class="span12">
  {% for dog in dogs %}
  <div id="{{ dog.name }}">
    <div id="dog_name"><h3>{{ dog.name }}</h3></div>
    {% for picture in dog.pictures %}
    <div class="dog_thumbnails">
        <a href="{{ url_for('static', filename=picture.file_url) }}" target="_blank">
            <img src="{{ url_for('static', filename=picture.thumb_url) }}" />
        </a>
    </div>
    {% endfor %}
    <div class="dog_info">
      <table>
        <tr>
          <td>
            <em>Size:</em>{{ dog.getSize() }}<br />
            <em>Age:</em>{{ dog.getAge() }} <br />
            <em>Sex:</em>{{ dog.getSex()|capitalize }}<br />
            <em>Mix:</em>{% if dog.mix %}Y{% else %}N{% endif %}<br />
            {% if dog.fee %}<em>Fee:</em>${{ dog.fee }}<br />{% endif %}
          </td>
          <td>
            <ul>
              {% if dog.shots %}<li>Up to date on routine shots</li>{% endif %}
              {% if dog.housetrained %}<li>Housetrained</li>{% endif %}
              {% if dog.fixed %}<li>{% if dog.getSex() == "male" %}Neutered{% else %}Spayed{% endif %}</li>{% endif %}
              {% if dog.special_needs %}<li>A special needs animal</li>{% endif %}
              {% if dog.home_without_dogs %}<li>In need of a home without other dogs</li>{% endif %}
              {% if dog.home_without_cats %}<li>In need of a home without cats</li>{% endif %}
              {% if dog.home_without_kids %}<li>In need of a home without children</li>{% endif %}
            </ul>
          </td>
        </tr>
      </table>
      <br />
      {{ dog.description }}
      <br />
    </div> <!-- DOG_INFO -->
  {% endfor %}
  </div>
</div>
{% else %}
<p>Bummer!  There are presently no dogs available for adoption.  Please check back
soon!</p>
{% endif %}
{% endblock %}
