{% extends "layout.html" %}
{% block content %}
{% if dogs %}
  {% for dog in dogs %}
    <div class="header">
      <h1 class="content-subhead avail-dog-name">{{ dog.name }}</h1>
    </div>
    <div class="avail-dog">
      <div id="image-container" class="image-container" style="overflow:hidden;">
        {% for picture in dog.pictures %}
          <div class="happy-tails-pic" style="background-image:url({{ url_for('static', filename='images/'+dog.id|string+'/'+picture.thumb_url) }});">
            <img src={{ url_for('static', filename='images/'+dog.id|string+'/'+picture.thumb_url) }} style="display:none;"/>
          </div>
        {% endfor %}
      </div>
      <div class="pure-g-r">
      <div class="l-box pure-g-r avail-dog-desc">
        <div class="pure-u-1-8 avail-dog-info">
          <strong>Size:</strong>  {{ dog.getSize() }}<br />
          <strong>Age:</strong>  {{ dog.getAge() }} <br />
          <strong>Sex:</strong>  {{ dog.getSex()|capitalize }}<br />
          <strong>Mix:</strong>  {% if dog.mix %}Y{% else %}N{% endif %}<br />
          {% if dog.fee %}<strong>Fee:</strong>  ${{ dog.fee }}<br />{% endif %}
        </div>
        <div class="pure-u-5-24 avail-dog-info">
          <ul class="fa-ul">
              {% if dog.shots %}<li><i class="fa-li fa fa-check"></i>Up to date on routine shots</li>{% endif %}
              {% if dog.housetrained %}<li><i class="fa-li fa fa-check"></i>Housetrained</li>{% endif %}
              {% if dog.fixed %}<li><i class="fa-li fa fa-check"></i>{% if dog.getSex() == "male" %}Neutered{% else %}Spayed{% endif %}</li>{% endif %}
              {% if dog.special_needs %}<li><i class="fa-li fa fa-check"></i>A special needs animal</li>{% endif %}
              {% if dog.home_without_dogs %}<li><i class="fa-li fa fa-check"></i>In need of a home without other dogs</li>{% endif %}
              {% if dog.home_without_cats %}<li><i class="fa-li fa fa-check"></i>In need of a home without cats</li>{% endif %}
              {% if dog.home_without_kids %}<li><i class="fa-li fa fa-check"></i>In need of a home without children</li>{% endif %}
          </ul>
        </div>
        <div class="pure-u-2-3">
          {{ dog.description|replace('\r','')|replace('\\n','')|trim }}
        </div>
        </div> <!-- pure-g-r -->
      </div> <!-- avail-dog-desc -->
    </div> <!-- avail-dog -->
  {% endfor %}


{% else %}
<p>Bummer!  There are presently no dogs available for adoption.  Please check back
soon!</p>
{% endif %}
{% endblock %}

{% block end_of_page %}
  {{ super() }}

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src={{ url_for('static', filename='js/plugins.js') }}></script>
  <script type="text/javascript" src={{ url_for('static', filename='js/main.js') }}></script>
  <script type="text/javascript" src={{ url_for('static', filename='js/linear_partition.js') }}></script>
  <script type="text/javascript" src={{ url_for('static', filename='js/avail_resize.js') }}></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  try{jQuery.ready();}catch(e){}
  </script>

{% endblock %}
