{% extends "layout.html" %}
{% block content %}
{% if form.errors %}
{% for field_name, field_errors in form.errors|dictsort if field_errors %}
  {% for error in field_errors %}
  <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ form[field_name].label(style="display: inline;") }}:  {{ error }}
  </div>
  {% endfor %}
{% endfor %}
{% endif %}
<div class="span5 offset4">
<form method="POST" action="" class="form-horizontal" enctype="multipart/form-data">
    <legend>Edit A Dog</legend>
    <div>{{ form.hidden_tag() }}</div>

    <div class="control-group">
        {{ form.name.label(class="control-label required") }}
        <div class="controls">
        {{ form.name(placeholder="Name") }}
        </div>
    </div>

    <div class="control-group">
        {{ form.breed.label(class="control-label") }}
        <div class="controls">
        {{ form.breed(value="Rhodesian Ridgeback") }}
        </div>
    </div>

    <div class="control-group">
        {{ form.sex.label(class="control-label") }}
        <div class="controls">
        {{ form.sex() }}
        </div>
    </div>

    <div class="control-group">
        {{ form.status.label(class="control-label") }}
        <div class="controls">
        {{ form.status() }}
        </div>
    </div>

    <div class="control-group">
        {{ form.age.label(class="control-label") }}
        <div class="controls">
        {{ form.age() }}
        </div>
    </div>

    <div class="control-group">
        {{ form.mix.label(class="control-label") }}
        <div class="controls">
        {{ form.mix() }}
        </div>
    </div>

    <div class="control-group">
        {{ form.size.label(class="control-label") }}
        <div class="controls">
        {{ form.size() }}
        </div>
    </div>

    <div class="control-group">
        {{ form.fee.label(class="control-label") }}
        <div class="controls input-prepend input-append">
            <span class="add-on">$</span>
            {{ form.fee(class="span2") }}
            <span class="add-on">.00</span>
        </div>
    </div>

    <div class="control-group">
        {{ form.description.label(class="control-label") }}
        <div class="controls">
        {{ form.description(rows="10") }}
        </div>
    </div>

    <div class="control-group">
        Check all that apply:
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" value="y" id="special_needs" name="special_needs" {% if form.special_needs.data %}checked{% endif %}>Special Needs
            </label>
            <label class="checkbox">
                <input type="checkbox" value="y" id="home_without_dogs" name="home_without_dogs" {% if form.home_without_dogs.data %}checked{% endif %}>Home without dogs
            </label>
            <label class="checkbox">
                <input type="checkbox" value="y" id="home_without_cats" name="home_without_cats" {% if form.home_without_cats.data %}checked{% endif %}>Home without cats
            </label>
            <label class="checkbox">
                <input type="checkbox" value="y" id="home_without_kids" name="home_without_kids" {% if form.home_without_kids.data %}checked{% endif %}>Home without kids
            </label>
            <label class="checkbox">
                <input type="checkbox" value="y" id="fixed" name="fixed" {% if form.fixed.data %}checked{% endif %}>Spayed / Neutered
            </label>
            <label class="checkbox">
                <input type="checkbox" value="y" id="shots" name="shots" {% if form.shots.data %}checked{% endif %}>Up to date with shots
            </label>
            <label class="checkbox">
                <input type="checkbox" value="y" id="housetrained" name="housetrained" {% if form.housetrained.data %}checked{% endif %}>Housetrained
            </label>
        </div>
    </div>

    {% for picture in form.uploads.entries %}
        <div class="control-group">
            {{ picture.label(class="control-label") }}
            <div class="controls">
            {{ picture }}
            {% if form.pictures[loop.index0] %}{{ form.pictures[loop.index0].thumb_url }}{% endif %}
            </div>
        </div>
    {% endfor %}
     
    <div class="control-group">
        {{ form.happy_tails.label(class="control-label") }}
        <div class="controls">
        {{ form.happy_tails(rows="10") }}
        </div>
    </div>

    <div class="control-group">
        {{ form.archive.label(class="control-label") }}
        <div class="controls">
        {{ form.archive }}
        </div>
    </div>

    <div class="form-actions">
        {{ form.send(class="btn btn-primary") }}
    </div>
</form>
</div>
{% endblock %}
