{% extends "layout.html" %}
{% block content %}
{% from "_helpers.html" import render, bool_render %}
<div class="header">
  <h1 class="content-subhead">Edit A Dog</h1>
</div>
{% if form.errors %}
{% for field_name, field_errors in form.errors|dictsort if field_errors %}
  {% for error in field_errors %}
  <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ form[field_name].label(style="display: inline;") }}:  {{ error }}
  </div>
  {% endfor %}
{% endfor %}
{% endif %}
<form method="POST" action="" class="pure-form pure-form-aligned" enctype="multipart/form-data">
    <div>{{ form.hidden_tag() }}</div>
    <fieldset>
        {{ render(form.name) }}
        {{ render(form.breed) }}
        {{ render(form.sex) }}
        {{ render(form.status) }}
        {{ render(form.age) }}
        {{ render(form.mix) }}
        {{ render(form.size) }}
        {{ render(form.fee) }}
        {{ render(form.description, rows="10", class="pure-input-1-2") }}
    </fieldset>

    <fieldset>
        {{ bool_render(form.special_needs) }}
        {{ bool_render(form.home_without_dogs) }}
        {{ bool_render(form.home_without_cats) }}
        {{ bool_render(form.home_without_kids) }}
        {{ bool_render(form.fixed) }}
        {{ bool_render(form.shots) }}
        {{ bool_render(form.housetrained) }}
    </fieldset>
    <fieldset>
    {% for picture in form.uploads.entries %}
        <div class="pure-control-group">
            {{ picture.label(text="Picture "+loop.index|string+":") }}
            {{ picture }}
        </div>
        {% if picture.data %}
        <div class="pure-control-group"><label>Currently:</label>
            <img src={{ url_for('static', filename='images/' + form.id|string + '/' + picture.data.filename) }}>
            </div>
        {% endif %}
    {% endfor %}
    </fieldset>

    <fieldset>
        {{ render(form.happy_tails, rows="10", class="pure-input-1-2") }}
        {{ bool_render(form.archive) }}
    </fieldset>
    <div class="pure-controls">{{ form.send(label="Edit Dog", class="pure-button pure-button-primary") }}</div>
</form>
{% endblock %}
