{% extends "layout.html" %}
{% from "_helpers.html" import render_pagination %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='modal.css') }}">
{% endblock %}
{% block content %}
{% if dogs %}
  <div id="image-container" style="overflow:hidden;">
    {% for dog in dogs %}
      {% if dog.pictures %}
        {% set modalID = 'modal' + loop.index|string %}
        <div class="happy-tails-container">
          <div class="happy-tails-pic" style="background-image:url({{ url_for('static', filename='images/'+dog.id|string+'/'+dog.pictures[0].file_url) }});">
            <img src={{ url_for('static', filename='images/'+dog.id|string+'/'+dog.pictures[0].file_url) }} style="display:none;"/>
          </div>
          <div class="happy-tails-txt">
            <p><a href="#{{ modalID }}" role="button" data-toggle="modal" data-target="#{{ modalID }}">{{ dog.name }}</a></p>
          </div>
          </a>
          <div id="{{ modalID }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{{ modalID }}" aria-hidden="true">
            <div class="modal-header">
              <h1 id="{{ modalID }}">{{ dog.name }}</h1>
            </div>
            <div class="modal-body">
              <p>{{ dog.happy_tails|replace('\r','')|replace('\\n','')|trim }}</p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div> <!-- image-container -->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
  <script src={{ url_for('static', filename='js/plugins.js') }}></script>
  <script src={{ url_for('static', filename='js/main.js') }}></script>
  <script src={{ url_for('static', filename='js/linear_partition.js') }}></script>
  <script src={{ url_for('static', filename='js/resize.js') }}></script>
  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
{{ render_pagination(pagination) }}
{% else %}
<p>There are plenty of happy tales (tails?) to tell, we just haven't gotten
around to it yet.  Please check back soon!</p>
{% endif %}
{% endblock %}
