{% extends "layout.html" %}
{% from "_helpers.html" import render_pagination %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='modal.css') }}">
{% endblock %}
{% block content %}
{% if page == 1 %}<h1>Happy Tails Tales</h1>{% endif %}
{% if dogs %}
{% if page == 1 %}
<p>Thanks to volunteers, adopters, and those who've donated to CRRR, we've been fortunate over the years to rescue many dogs.  We're proud to present their stories!  Should any of them move you, consider <a href={{ url_for('application.apply') }}>adopting</a> or <a href={{ url_for('root.volunteer') }}>volunteering</a>.</p>
{% endif %}
  <div id="image-container" style="overflow:hidden;">
    {% for dog in dogs %}
      {% if dog.pictures %}
        {% set modalID = 'modal' + loop.index|string %}
        <div class="happy-tails-container"><a href="#{{ modalID }}" role="button" data-toggle="modal" data-target="#{{ modalID }}">
          <div class="happy-tails-pic" style="background-image:url({{ url_for('static', filename='images/'+dog.id|string+'/'+dog.pictures[0].file_url) }});">
            <img src={{ url_for('static', filename='images/'+dog.id|string+'/'+dog.pictures[0].file_url) }} style="display:none;"/>
          </div>
          <div class="happy-tails-txt">
            <p>{{ dog.name }}</p>
          </div>
          </a>
          <div id="{{ modalID }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{{ modalID }}" aria-hidden="true">
            <div class="modal-header">
              <h1 id="{{ modalID }}">{{ dog.name }}</h1>
            </div>
            <div class="modal-body">
              <p>{{ dog.happy_tails|replace('\r','')|replace('\\n','')|trim }}</p>
            </div></a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div> <!-- image-container -->
{{ render_pagination(pagination) }}
{% else %}
{% if page == 1 %}
<p>There are plenty of happy tales (tails?) to tell, we just haven't gotten
around to it yet.  Please check back soon!</p>
{% endif %}
{% endif %}
{% endblock %}

{% block end_of_page %}
  {{ super() }}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
  <script src={{ url_for('static', filename='js/plugins.js') }}></script>
  <script src={{ url_for('static', filename='js/main.js') }}></script>
  <script src={{ url_for('static', filename='js/linear_partition.js') }}></script>
  <script src={{ url_for('static', filename='js/resize.js') }}></script>
  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
  <script src={{ url_for('static', filename='js/hovering.js') }}></script>
{% endblock %}
