{% extends "layout.html" %}
{% block content %}
<div class="pure-u-1">
<p>
Rhodesian Ridgebacks are independent, intelligent dogs. They are in the hound
group, and hunt by both sight and scent. The breed originated in South Africa
in the late 1800s as a multipurpose dog. Rhodesian Ridgebacks were bred to hunt
both large and small game, including lion. They did not take down or kill
lions, rather as a pack they held the prey at bay until the hunters arrived.
They were also bred to guard the farm and family.</p>
<p>
The breed is best known for the ridge of hair on its back that grows in the
opposite direction of the rest of its coat.</p>
<p>
Ridgebacks are typically good with children and protective of their households,
a vestige of their African heritage. Because Ridgebacks have a streak of
independence, they want love and affection on their terms. Children need to be
taught to respect when their Ridgeback wants to be left alone. A Ridgeback,
because of his or her size, can unintentionally knock a toddler or child over.
Parents need to exercise supervision with children and Ridgebacks.</p>
<p>
Ridgebacks are notorious chow hounds. Don't leave food on the table or kitchen
counter, it will disappear.</p>
<p>
As natural athletes, Ridgebacks need plenty of exercise and room to run. That's
why many breed owners enter their Ridgebacks in lure coursing events, as well
as agility and obedience trials.</p>
<p>
Despite their size, they are big lap dogs and want to snuggle up with you on
the couch. Overall they make a great companion pet.</p>
<p>
The Rhodesian Ridgeback is not the dog for everyone. As a fairly primitive
breed, their hunting instincts are not to be underestimated. Due to their keen
instincts they can also be quite stubborn at times. Positive reinforcement is
the training method of choice. Harsh correction and repetitive training drills
are ineffective. Ridgebacks will test their owners to find out how much they
can get away with. If they see an absence of leadership, they will take
over.</p>
<h4>References:</h4>
<cite>
Rhodesian Ridgeback Club of the United States: <a href="http://rrcus.org">rrcus.org</a><br />
Carlson, Stig C. Rhodesian Ridgeback (Pet Owner's Guide). 2000.<br />
Flaim, Denise. "Rhodesian Ridgeback : Pride of Africa." DOG FANCY February
2003: 46-52.<br />
Flaim, Denise. "Lion Dogs" AKC GAZETTE  August 2005: 28-33.<br />
Pflaumer, Sharon. "Rhodesian Ridgeback : The Lion King." DOG WORLD August 2001: 10-21.<br />
</cite>
</div>
{% endblock %}
