{% extends "layout.html" %}
{% block content %}
<h1>CRRR</h1>
<p>We've been around in various forms since 1993.  Over the years, there have been many people who have contributed in one way or another to our success.  From coordinators to foster families to behavioral consultants, our volunteers have donated thousands of hours.</p>
<h1>Web</h1>
<p>Are you a web developer looking for ideas for your rescue website?  Here are some of the technologies we're using:</p>
<ul>
  <li>Python Web Framework:  <a href="http://flask.pocoo.org">Flask</a></li>
  <li>Source Code:  <a href="https://github.com/SirScott/crrr">GitHub</a></li>
  <li>Hosting:  <a href="https://www.digitalocean.com/?refcode=088c4dfd4c17">Digital Ocean</a></li>
</ul>
<p>Also, a big thanks to <a href="http://www.dykumos.com/">Asta McCormick</a> for graciously providing the banner artwork for this site!</p>
{% endblock %}
