{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <style>

    div.savestatus{ /* Style for the "Saving Form Contents" DIV that is shown at the top of the form */
    width:200px;
    padding:2px 5px;
    border:1px solid gray;
    background:#fff6e5;
    -webkit-box-shadow: 0 0 8px #818181;
    box-shadow: 0 0 8px #818181;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    color:red;
    position:absolute;
    top:-10px;
    }

    form#application div{ /*CSS used by demo form*/
    margin-bottom:9px;
    }

    </style>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='autosaveform.js') }}">

    /***********************************************
    * Auto Save Form script (c) Dynamic Drive (www.dynamicdrive.com)
    * This notice MUST stay intact for legal use
    * Visit http://www.dynamicdrive.com/ for this script and 100s more.
    ***********************************************/

    </script>

    <script>

    var formsave1=new autosaveform({
        formid: 'application',
        pause: 1000 //<--no comma following last option!
    })

    </script>

{% endblock %}


{% block content %}
{% from "_helpers.html" import render %}
{% if form %}
<h1>Adoption Application</h1>
<p>Congratulations!  You've taken the first step towards adopting your
Ridgeback by seeking out the application.  Please be sure to fill in all fields
denoted with red text as they are required.  Upon completion of the form, you
should be contacted by a Colorado Rhodesian Ridgeback Rescue representative
after your information has been reviewed.  (This can take a week, please be
patient!)  The next step in our process will be for a volunteer to arrange a
home visit.  (Don't panic, we aren't interested in your housekeeping, and we
don't care how big or little your house is!)  This is just an informal, short
visit to make sure the dog will be going to a safe place, and to chat about
what you are looking for in a dog.  That way we can help match the right dog
with the right home. </p>
  <form method="POST" action={{ url_for('root.application') }} class="pure-form pure-form-aligned" id="application">
    {{ form.hidden_tag() }}
    {% if form.errors %}
    <p class="missing">Oh no!  Your application hasn't passed our validation!  Please ensure the following required fields are filled
in properly:</p>
    <ul class="missing">
      {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
          <li>{{ form[field_name].label }}: {{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
    {% endif %}
    <fieldset>
      <legend>Personal Information</legend>
      {{ render(form.first_name) }}
      {{ render(form.last_name) }}
      {{ render(form.addr_1) }}
      {{ render(form.addr_2) }}
      {{ render(form.city) }}
      {{ render(form.state) }}
      {{ render(form.zip_code) }}
      {{ render(form.phone_h) }}
      {{ render(form.phone_c) }}
      {{ render(form.phone_w) }}
      {{ render(form.email) }}
      {{ render(form.address_length, colon=False) }}
    </fieldset>
    <fieldset>
      <legend>Employment</legend>
      {{ render(form.employer) }} 
      {{ render(form.occupation) }} 
      {{ render(form.employment_type) }}
    </fieldset>
    <fieldset>
      <legend>Family</legend>
      Please select the relationship to you of all the adults in your household:
      <table class="family_subtable">
        <tr>
          <th>&nbsp;</th>
          <th>Relation</th>
          <th>Name</th>
        </tr>
        {% for relation, name in [(form.relation1, form.name1), (form.relation2, form.name2),
                                  (form.relation3, form.name3), (form.relation4, form.name4),
                                  (form.relation5, form.name5)] %}
        <tr>
          <td>{{ loop.index }}. </td>
          <td>{{ relation() }}</td>
          <td>{{ name() }}</td>
        </tr>
        {% endfor %}
      </table>      
      {{ render(form.kids, colon=False) }}
    </fieldset>
    <fieldset>
      <legend>Veterinarian Reference</legend>
      If you currently own or have owned a pet in the past five years, please
      provide your veterinarian's name, address, and telephone number.<br />
      {{ render(form.ref1_firstname) }}
      {{ render(form.ref1_lastname) }}
      {{ render(form.ref1_address1) }}
      {{ render(form.ref1_address2) }}
      {{ render(form.ref1_city) }}
      {{ render(form.ref1_state) }}
      {{ render(form.ref1_zip) }}
      {{ render(form.ref1_phone) }}
    </fieldset>
    <fieldset>
      <legend>Pets</legend>
      <table class="pets_subtable">
        <tr>
          <th>&nbsp;</th>
          <th><span class="definition" title="Cat / Dog / Bird / Etc">Type</span></th>
          <th>Sex</th>
          <th>Age</th>
          <th>Spayed /<br />Neutered?</th>
          <th>Name</th>
          <th>If no longer owned, what happened?</th>
        </tr>
        {% for type, sex, age, name, altered, what in [(form.pet_1_species, form.pet_1_sex, form.pet_1_age, form.pet_1_name, form.pet_1_altered, form.pet_1_whathappened),
                                                       (form.pet_2_species, form.pet_2_sex, form.pet_2_age, form.pet_2_name, form.pet_2_altered, form.pet_2_whathappened), 
                                                       (form.pet_3_species, form.pet_3_sex, form.pet_3_age, form.pet_3_name, form.pet_3_altered, form.pet_3_whathappened), 
                                                       (form.pet_4_species, form.pet_4_sex, form.pet_4_age, form.pet_4_name, form.pet_4_altered, form.pet_4_whathappened), 
                                                       (form.pet_5_species, form.pet_5_sex, form.pet_5_age, form.pet_5_name, form.pet_5_altered, form.pet_5_whathappened)] %}
        <tr>
          <td>{{ loop.index }}.  </td>
          <td>{{ type() }}</td>
          <td>{{ sex() }}</td>
          <td>{{ age() }}</td>
          <td>{{ altered() }}</td>
          <td>{{ name() }}</td>
          <td>{{ what() }}</td>
        </tr>
        {% endfor %}
      </table>
    </fieldset>
    <fieldset>
      <legend>Pet Care</legend>
      {{ render(form.freefeed, colon=False) }}
      {{ render(form.whocares, colon=False) }}
      {{ render(form.home, colon=False) }}
      {{ render(form.needs, colon=False) }}
      {{ render(form.alonetime, colon=False) }}
      {{ render(form.dogkepthome) }}
      {{ render(form.dogkeptaway) }}
      {{ render(form.dogdoor, colon=False) }}
      {{ render(form.transport, colon=False) }}
      {{ render(form.crate, colon=False) }}
      {{ render(form.sleep, colon=False) }}
      {{ render(form.whyridgebacks, colon=False) }}
      {{ render(form.before, colon=False) }}
      {{ render(form.expenses, colon=False) }}
    </fieldset>
    <fieldset>
      <legend>A Day In The Life...</legend>
      {{ render(form.dayinthelife) }}
      {{ render(form.dogasfamily, colon=False) }}
      {{ render(form.activitylevel) }}
      {{ render(form.awaycare, colon=False) }}
      {{ render(form.giveup, colon=False) }}
    </fieldset>
    <fieldset>
      <legend>Housing</legend>
      {{ render(form.housing, colon=False) }}
      {{ render(form.ownrent, colon=False) }}
      {{ render(form.landlordproof, colon=False) }}
      {{ render(form.yard, colon=False) }}
      {{ render(form.fence, colon=False) }}
      {{ render(form.fencedetails, colon=False) }}
    </fieldset>
    <fieldset>
      <legend>Ridgeback Preferences</legend>
      {{ render(form.ridgebackname, colon=False) }}
      {{ render(form.ridgebackgender, colon=False) }}
      {{ render(form.ridgebackage) }}
      {{ render(form.ridgebackridges, colon=False) }}
      {{ render(form.ridgebackpurebred, colon=False) }}
      {{ render(form.ridgebackhealthproblems, colon=False) }}
      {{ render(form.ridgebacksocialproblems, colon=False) }}
    </fieldset>
    <div class="pure-controls">{{ form.submit(class="pure-button pure-button-primary") }}</div>
  </form>
<p>If you have questions or need more info, please contact Inge Trump, CRRR coordinator:<br />
<ul>
  <li>(h) -- (303) 689-2159</li>
  <li>(c) -- (303) 618-7397</li>
</ul>
</p>
{% else %}
{% endif %}
{% endblock %}
