{% extends "email_layout.html" %}
{% block content %}
{% from "_helpers.html" import render, bool_render %}
<h1>Colorado Rhodesian Ridgeback Rescue Volunteer Form</h1>
<h3>Submitted on: ...</h3>
    <form class="pure-form pure-form-aligned" id="application">
    <fieldset>
        <legend>Personal Information</legend>
        {{ render(form.first_name) }}
        {{ render(form.last_name) }}
        {{ render(form.addr_1) }}
        {{ render(form.addr_2) }}
        {{ render(form.city) }}
        {{ render(form.state) }}
        {{ render(form.zip_code) }}
        {{ render(form.phone_h) }}
        {{ render(form.phone_c) }}
        {{ render(form.phone_w) }}
        {{ render(form.email) }}
    </fieldset>
    <fieldset>
        <legend>Volunteering Information</legend>
        Please select all that you are able to assist with:<br />
        {{ bool_render(form.foster) }}
        {{ bool_render(form.transport) }}
        {{ bool_render(form.home_check) }}
        {{ bool_render(form.adopter_check) }}
        {{ bool_render(form.donate_crate) }}
        {{ bool_render(form.donate_supplies) }}
        <div class="pure-controls">
            {{ form.other_input.label(text=form.other() + " " + form.other_input(placeholder="Other..", class="pure-input-2-3")) }}
        </div>
    </fieldset>
    </form>
{% endblock %}
