{% extends "layout.html" %}
{% block content %}
<div class="pure-u-1">
<h1>FAQ - Adoption Process</h2>
<p>1.  <a href="javascript:faqToggle('process_faq1')">How does the adoption process work?</a></p>
<div id="process_faq1" style="display:none;" class="faq_answer">
<p>The first step to adopting a rescued Ridgeback is to submit an 
<a href={{ url_for('root.application') }}>application</a>.  After we have received, 
verified, and approved your application, the next step is to perform a home 
visit.  Following a succesful home visit, all that remains is to make a good 
match for you and the rescued dog, fill out an adoption contract and pay the 
adoption fee!</p>
</div> <!-- PROCESS_FAQ1 -->
<p>2.  <a href="javascript:faqToggle('process_faq2')">Why is the application so
long?</a></p>
<div id="process_faq2" style="display:none;" class="faq_answer">
<p>Our goal is to provide the best match to both rescue dog and human partners.
We are looking to place our rescued Ridgebacks into permanent, forever homes.
Because of this, we need to be very thorough in assessing your needs and wants.
In addition, we need to verify that your commitment to providing a loving home
is 110%.  By utilizing a detailed application form, reference checks and home
visit, we are able to make a good match, which results in the rescue dog not
being returned to us.</p>
</div> <!-- PROCESS_FAQ2 -->
<p>3.  <a href="javascript:faqToggle('process_faq3')">What is involved in a
home visit?</a></p>
<div id="process_faq3" style="display:none;" class="faq_answer">
<p>During a home visit, you show us where the rescued dog will spend his / her
time, inside and outside, where he / she will sleep, and where the food and
water will be kept.  If you have a yard, we check your fencing and gates.  In
essence, a home visit shows us that you have placed significant thought into
life with a new dog.  We talk with you to help prepare for issues that may
arise.</p>
</div> <!-- PROCESS_FAQ3 -->
<p>4.  <a href="javascript:faqToggle('process_faq4')">What does the contract
say?</a></p>
<div id="process_faq4" style="display:none;" class="faq_answer">
<p>The contract contains a lot of legal language that basically says "I will
love and take care of my dog.  I will provide veterinary care for my dog.  My
dog will be part of my family.  In the event that I can no longer provide for
them, I will return the dog to rescue."</p>
</div> <!-- PROCESS_FAQ4 -->
<p>5.  <a href="javascript:faqToggle('process_faq5')">How much is the adoption
fee?</a></p>
<div id="process_faq5" style="display:none;" class="faq_answer">
<p>Numerous factors influence the amount of the fee including:  
<ul>
  <li>Transportation costs to/from our location</li>
  <li>Veterinary Care</li>
  <li>Spay / Neutering</li>
  <li>Medication</li>
  <li>Fees incurred bringing the dog into rescue</li>
</ul>
The adoption fee ranges from $150 to $450.  We are an all volunteer
organization.  The fee can seem expensive.  Please understand that the fee goes
directly to caring for dogs in our program.  We care for all ages, special
needs, healthy and infirmed rescue dogs.</p>
</div> <!-- PROCESS_FAQ5 -->
<p>6.  <a href="javascript:faqToggle('process_faq6')">Will my rescue dog bond
with me?</a></p>
<div id="process_faq6" style="display:none;" class="faq_answer">
<p>Absolutely.  Rescued dogs seem to sense when they are adopted into their
forever home.  They feel that they are loved and wanted.  They know that you
saved them.  It can take several days or several weeks for your rescued
Ridgeback to settle in to the new routine.  We provide foster care for our
rescued dogs in our  homes.  This allows us to get to know them and determine
how to help them and you make a smooth transition to the forever home.  We
rescue volunteers are available via telephone, e mail or live and in person to
help any time you need us.</p>
</div> <!-- PROCESS_FAQ6 -->
<br />
<h1>FAQ - Breed Specific</h1>
<p>1.  <span><a href="javascript:faqToggle('faq1')">How does the history of the
breed play a part in modern specimens regarding structure and function?</a></p>
<div id="faq1" style="display:none;" class="faq_answer">
<p>The breed was developed for the dual purposes of hunting game and protecting
the family.  As such, they must be athletic and sturdy, with a temperament
fearless enough to hunt and bay their quarry, yet kind and gentle enough to be
trusted with children.  The Ridgeback must have adequate bone and substance to
withstand their hunting duties, yet not be too bulky that they cannot move
swiftly and with endurance.  They are fiercely loyal to their families, and may
be reserved around strangers.  They should not be overly timid, nor should they
exhibit aggression toward humans or other dogs. These dogs were bred to work in
packs, and as such must be able to get along with other dogs. This is really a
young breed compared to some, so it is still evolving.  The Standard was only
written in the late 1920's.  They didn't even arrive here in the U.S. until the
1950's. So many different breeds went into forming the Ridgeback breed, so
there is a lot of latitude within the standard for variations in type.  There
has been an emphasis in the U.S. on outstanding temperaments, and we have done
much to smooth out any rough edges that may have been present in the breed many
years ago.</p>
<br />
<p>The ridge is the hallmark of the breed.  The ridge is a dominant genetic
feature, and was preserved when European breeds were crossed with the ridged
semi-feral South African Hottentot dogs.  Early observers in South Africa
thought only the ridged dogs were courageous enough to close in on lions.</p>
<br />
<p>This is an athletic dog, well-muscled with the ability to chase game at high
speed over long distance.  They hunt by both sight and scent.  There arises
some confusion when these dogs are referred to as "African Lion Hounds".
People think they are to bring down a lion.  It is a rare dog that could
accomplish that without being fatally wounded.  Rather, these dogs work in
packs to distract and tease their prey, possibly disabling them, and containing
them at bay until the hunter arrives.</p>
<br />
<p>Ridgebacks must be courageous enough to engage in hunting and protecting the
family.  For the most part, they have a strong prey drive, especially females.
They must also be kind enough to humans so as to fit in with the family.  They
are fiercely loyal, and love being included in family activities.  Their
personalities blossom when they are part of the family, housed in the home and
not kenneled.  They are like the Princess and the Pea, preferring to be on the
softest bed, sofa, or chair in the house!</p>
</div>  <!-- FAQ1 -->
<p>2.  <a href="javascript:faqToggle('faq2')">Regarding personality--As a hound
with keen sight and scent, has the breed stayed true to its origins or has it
evolved?</a></p>
<div id="faq2" style="display:none;" class="faq_answer">
<p>These hounds have very strong instincts, which must not be underestimated.
They are still keen to hunt by both sight and scent.  They are for the most
part true to their original functions as hunter and family guardian.  A
drawback is that, due to their intense prey drive, the leading cause of death
in adult Ridgebacks is hit by car.  Fencing is an absolute must.  If they see
something, they will go for it, with no regard to traffic.  Natural instinct
often overrides sensibility and in a world full of vehicles, this is a problem.
Off-leash is most often not an option. Obedience training with an emphasis on
recall is crucial.  These dogs are not for every American family.  They have
boundless energy and are by nature in great physical condition.  Regular
exercise is absolutely necessary to their mental and physical well- being.  The
nice thing is, once you've worn them out, they'll just curl up and sleep!</p>
</div>  <!-- FAQ2 -->
<p>3.  <a href="javascript:faqToggle('faq3')">Other breeds used to develop the
Rhodesian Ridgeback?</a></p>
<div id="faq3" style="display:none;" class="faq_answer">
<p>Many European breeds were crossed with the scrappy, wirey-haired,
rough-coated Hottentot ridged dogs.  Many breeds probably entered into the mix:
Pointers; Airdales; Irish Terriers; Greyhounds; Bulldogs; Deerhounds;
Mastiff.</p>
</div>  <!-- FAQ3 -->
<p>4.  <a href="javascript:faqToggle('faq4')">What are the variations in coat
color and nose color?</a></p>
<div id="faq4" style="display:none;" class="faq_answer">
<p>There are 3 categories of color for Ridgebacks-light wheaten, wheaten, and
red wheaten.  Both liver and black nosed dogs are acceptable.</p>
</div>  <!-- FAQ4 -->
<p>5.  <a href="javascript:faqToggle('faq5')">How is the RR both typical and
atypical of its hound heritage?</a></p>
<div id="faq5" style="display:none;" class="faq_answer"><p>Due to the fact they
are hounds, they may be aloof. As with most hounds, they are very aware of
surroundings but often not immediately responsive.  They will usually will stop
and think before reacting inappropriately, except when it comes to chasing
.prey. such as your neighbor.s cat!  Some Ridgebacks are very vocal while
others are quiet observers, barking only if deemed necessary. If a Ridgeback
barks, pay attention. They are not frivolous barkers.</p>
<br />
<br />
<p>For the most part they range from affectionate to indifferent, rarely
threatening unless they perceive danger to their family.</p>
<br />
<br />
<p>Trainability is variable.  As a rule, their primary motivation is not to
please their owners, although for food they'll do almost anything!  This is
also a hound trait.  They are not like a Lab or Golden Retriever, rather they
often have their own agenda which could mean going off to hunt something on
their own, or simply ignoring you.  This is a typical hound demeanor.  Not to
say some aren't out there getting top obedience and agility honors, just that
there are other breeds more uniformly suited for these endeavors.  These dogs
love their families without question, they just sometimes aren't overly
exuberant about finding out what they can do for you all the time.</p>
</div> <!-- FAQ5 -->
<p>6.  <a href="javascript:faqToggle('faq6')">How intelligent are
Ridgebacks?</a></p>
<div id="faq6" style="display:none;" class="faq_answer"><p>Incredibly
intelligent.  This is why they may be considered by some to be difficult to
train.  They need to understand before doing some things.  Heavy-handedness is
never the answer, even though they can be frustrating and push some buttons.
Their intelligence would never allow them to forgive and forget abusive
treatment.</p>
</div> <!-- FAQ6 -->
<p>7.  <a href="javascript:faqToggle('faq7')">Are they independent?</a></p>
<div id="faq7" style="display:none;" class="faq_answer"><p>Some are extremely
so, others never have you out of their sight.</p>
</div> <!-- FAQ7 -->
<p>8.  <a href="javascript:faqToggle('faq8')">How are Ridgebacks with children
and other pets?</a></p>
<div id="faq8" style="display:none;" class="faq_answer"><p>They are generally
tolerant of other pets and children.  Their original job was to guard the
family so they are very good with children as a rule.  If not raised with
children, introduce them sensibly.  Remember, the Ridgeback may be inclined to
chase anything fast-moving and unpredictable, so proceed with caution.  They
need to have their own "down time", though, and children should not be allowed
to abuse or overload the dog with unrelenting attention.  Because of their size
and strength, they can be very physical dogs.  They love to greet people by
jumping up on them but this is easily trained out of them.  This breed is
slow-maturing and as such they may be "puppy-like" for a longer period.  They
often do not reach physical and mental maturity until 2 years of age or older.
Because the Ridgeback's hunting instincts are so strong, prospective owners
must always concern themselves with the safety of these dogs and the people
around them.  They are strong and muscular, and should probably not be walked
by children.  If they should see something, they may be hard to restrain.</p>
<br />
<br />
<p>Cats and other pets in the house are fine, but it may be difficult to
introduce cats and other small pets after the Ridgeback is an adult.  Animals
outside, perhaps a cat cruising across the yard, are a different story.
Ridgebacks may hunt and kill small prey, such as cats and rabbits.  Rule of
thumb--if it's outside, moving, possibly also making noise, the Ridgeback is
likely going to chase it and may inflict harm.</p>
</div> <!-- FAQ8 -->
<p>9.  <a href="javascript:faqToggle('faq9')">What about fencing?</a></p>
<div id="faq9" style="display:none;" class="faq_answer"><p>The need for a
secure fenced area is an absolute must.  Fence height ideally should be 6ft as
some Ridgebacks will climb even a 5 foot fence, and 4 foot fencing is little
deterrent at all to escaping in most cases.</p>
</div> <!-- FAQ9 -->
<p>10. <a href="javascript:faqToggle('faq10')">What kind of mischief might they
get into?</a></p>
<div id="faq10" style="display:none;" class="faq_answer"><p>These can be very
challenging pups to raise.  Some are incredibly mischieveous.  They are into
everything, and can chew and destroy in rapid time.  They may also harm
themselves if allowed to chew on and possibly consume dangerous things.  These
dogs are extremely food-motivated and often will eat anything.  In fact, most
of the mischief involves food.  They are renowned counter-surfers and
inveterate food-stealers!  It is not uncommon to have puppies (and even adult
dogs) eat something that has to surgically removed from the intestine.  Their
mischieveousness often lasts into their second year or so.  Some can never be
fully trusted.  Crates are a must.  This breed may be more "mouthy" than
others, especially as puppies and often as adults.  They may interact by taking
hold of their people by the arm or hand.  Not meaning to injure, just a
possessive behavior.</p>
</div>  <!-- FAQ10 -->
<p>11. <a href="javascript:faqToggle('faq11')">What is the ideal home and
environment for a Rhodesian Ridgeback?</a></p>
<div id="faq11" style="display:none;" class="faq_answer">
<p>Ridgebacks are great companions for those who enjoy outdoor activities.  An
active family with lots of opportunity for the dog to be exercised is ideal.
Patient, kind family members willing to take the time to understand and
properly train their Ridgeback.  Ridgebacks should never be left unattended in
strange surroundings as they may jump, dig, or run in order to find their
owners.</p>
</div> <!-- FAQ11 -->
<p>12. <a href="javascript:faqToggle('faq12')">Do they have a pack
mentality?</a></p>
<div id="faq12" style="display:none;" class="faq_answer">
<p>They love the companionship of other dogs, and do very well in the pack
situation and multi-dog households.  They often play a bit rough.</p>
</div> <!-- FAQ12 -->
<p>13. <a href="javascript:faqToggle('faq13')">How much attention do they
need?</a></p>
<div id="faq13" style="display:none;" class="faq_answer">
<p>
These dogs thrive on attention and can develop behavior problems if kenneled
for long periods and not an important part of the family.  It is not
appropriate to have a Ridgeback living entirely in a yard with no time in the
house hanging out with the family.  Socialization of puppies is especially
important. They need to get out and meet people and other dogs.</p>
</div> <!-- FAQ13 -->
<p>14. <a href="javascript:faqToggle('faq14')">What about versatility?</a></p>
<div id="faq14" style="display:none;" class="faq_answer">
<p>These dogs can do it all--conformation, lure coursing, tracking, herding,
obedience, therapy, and agility.  Some are more talented at the different
disciplines, but Ridgebacks have participated in all of these activities.</p>
</div> <!-- FAQ14 -->
<p>15. <a href="javascript:faqToggle('faq15')">What are the grooming and
hygiene requirements?</a></p>
<div id="faq15" style="display:none;" class="faq_answer">
<p>
Weekly nail trims are essential.  As a rule, Ridgebacks hate to have their
nails trimmed, but with patience and kindness it can be accomplished.  They
grow very rapidly and nail care cannot be neglected.  Using a Dremel is a good
option to keep the nails short and rounded. Once weekly brushing to remove dead
hair is desirable.  They have short coats and do not shed excessively, but need
to be brushed nonetheless.  Teeth brushing every week will help keep plaque at
a minimum, and the breath fresh.  Occasionally ears will need to be cleaned
with an ear flushing solution.</p>
</div> <!-- FAQ15 -->
<p>16. <a href="javascript:faqToggle('faq16')">Any special considerations as
far as training?</a></p>
<div id="faq16" style="display:none;" class="faq_answer">
<p>Owners are strongly encouraged to enroll dogs in an organized class as the
time spent together is very beneficial in establishing the relationship.  It is
best to find a trainer who understands the breed and would under no
circumstance employ harsh punishment techniques.  Positive, positive, positive
is the only way to go with these dogs.  Certainly a careful and appropriate
correction may be necessary on occasion, but not as a primary training
technique.</p>
</div> <!-- FAQ16 -->
<p>17. <a href="javascript:faqToggle('faq17')">Any special considerations as
far as nutrition?</a></p>
<div id="faq17" style="display:none;" class="faq_answer">
<p>Feed a top quality commercial diet or raw diet.  Sometimes these dogs are
difficult to keep weight on, and other times they are too heavy.
Hypothyroidism is a problem in the breed, and overweight lethargic dogs should
be screened for this.</p>
</div> <!-- FAQ17 -->
<p>18. <a href="javascript:faqToggle('faq18')">How about exercise?</a></p>
<div id="faq18" style="display:none;" class="faq_answer">
<p>Lots and lots but no road running until the dog is at least a year old.
Common sense stuff, no excessive training on unforgiving surfaces such as
concrete.</p>
</div> <!-- FAQ18 -->
<p>19. <a href="javascript:faqToggle('faq19')">What are the important health
concerns for the Rhodesian Ridgeback breed?</a></p>
<div id="faq19" style="display:none;" class="faq_answer">
<p>Hypothyroidism, hip and elbow dysplasia, cancer, juvenile cataracts, dermoid
sinus.</p>
</div> <!-- FAQ19 -->
<br />
<h4>References:</h4>
<cite>
Ralston, Susan V.M.D. and Sand, Danielle V.M.D. "Frequently Asked Questions
Regarding Rhodesian Ridgebacks."  DOG AND KENNEL, June 2003.
</cite>
<br />
</div>
{% endblock %}
