{% extends "layout.html" %}
{% block content %}
<aside class="contact">
  <div class="pure-g-r">
    <div class="pure-u-1"><h1>Contact Info</h1></div>
    <div class="pure-u-1-4"><i>Inge Trump</i></div>
    <div class="pure-u-1-4"><i>Coordinator</i></div>
    <div class="pure-u-1-4"><i class="icon-phone">(303) 689 - 2159</i></div>
    <div class="pure-u-1-4"><i class="icon-envelope"><a href="contact/adoptions+coloradorhodesianridgebackrescue+org"rel="nofollow">Email</a></i></div>
  </div>
</aside>
<div>
<p>Colorado Rhodesian Ridgeback Rescue, CRRR, is an all-volunteer group
dedicated to providing rescue, care, and screened adoptions of pure bred and
mixed breed Rhodesian Ridgebacks in need.  A "rescue dog" is one that needs a
new home. Rescued Rhodesian Ridgebacks come to us from a variety of
circumstances. Some come from a family who can no longer care for them, others
come from animal shelters or are found as strays. Most of our dogs are one year
old or older, although every now and then we will have puppies available for
adoption.</p>
<p>All of our rescued Rhodesian Ridgebacks are cared for in foster homes. We
evaluate their temperament and needs to make the best match we can with an
adoptive home/family. ("Family" can be a single adult, adult partners, or
adults and children.)</p>
<p>We are often asked if a rescued Rhodesian Ridgeback will bond with his / her
new family, and the answer is, "Absolutely". There may be an adjustment period
of several days or weeks while they settle in with their new home and family.
Rescued dogs seem to sense they are wanted and loved by their new family; this
helps with the adjustment.</p>
<p>Veterinary medical and surgical care is provided by rescue funds when needed
for sick or injured rescued dogs. If necessary, we take our dogs for a
veterinary check up and immunizations.  All of the dogs are spayed / neutered
prior to being adopted. </p>
<p>As a 100% volunteer organization, we welcome donations.  The button at  the
bottom of the page will take you to PayPal, where you can make a secure
donation to our cause.</P>
<p>We are also always in need of foster homes who understand the breed. Please
consider <a href={{ url_for('root.volunteer') }}>volunteering</a> if you would be able to
provide a foster home for one of these great dogs until the right "forever"
home can be found.</p>
</div>
<aside>
   <h2>Thinking about buying a puppy?</h2>
   <p>Please make sure you go through a reputable breeder!</p>
   <p>Click <a href="http://www.illinoissheltierescue.com/puppymillstory.html" target="_blank">here</a> to learn about the relationship between puppy mills and pet shops, and <a href="http://www.illinoissheltierescue.com/howtobuyapuppy.html" target="_blank">here</a> for an informative article about choosing a reputable breeder.</p>
</aside>
{% endblock %}
