{% from "_helpers.html" import render_errors %}
{% extends "layout.html" %}
{% block content %}
<div class="span5 offset4">
<form method="POST" action="">
    <fieldset>
        <legend>Register</legend>
        <div>{{ form.hidden_tag() }}</div>
        {{ render_errors(form.username) }}
        <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            {{ form.username(placeholder="Username") }}
        </div>
        {{ render_errors(form.email) }}
        <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span>
            {{ form.email(placeholder="Email") }}
        </div>
        {{ render_errors(form.password) }}
        <div class="input-prepend">
            <span class="add-on"><i class="icon-key"></i></span>
            {{ form.password(placeholder="Password") }}
        </div>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-key"></i></span>
            {{ form.confirm(placeholder="Password again") }}
        </div>
        <div>{{ form.register(class="btn btn-primary") }}</div>
</fieldset>
</form>
</div>
{% endblock %}
