{% macro sub_form(form) -%}
  {% for field in form %}
    {% if "csrf" not in field.short_name %}
      {% if field.flags.required %}
        {{ field.label(class="label long sub required") }}
      {% else %}
        {{ field.label(class="label long sub") }}
      {% endif %}
        {{ field() }}
      <br />  
    {% endif %}
  {% endfor %}
{%- endmacro %}

{% macro render(field, colon=True) -%}
<div class="pure-control-group">
  {% if field.flags.required %}
    {% if colon %}
      {{ field.label(class="label long sub required", text=field.label.text+":") }}
    {% else %}
      {{ field.label(class="label long sub required") }}
    {% endif %}
  {% else %}
    {% if colon %}
      {{ field.label(class="label long sub", text=field.label.text+":") }}
    {% else %}
      {{ field.label(class="label long sub") }}
    {% endif %}
  {% endif %}
   {% if field.flags.required %}
    {{ field(required='') }}
  {% else %}
    {{ field() }}
  {% endif %}
</div>
{%- endmacro %}

{% macro bool_render(field) -%}
  {{ field() }}
  {{ field.label(class="label long sub") }}
  <br />
{%- endmacro %}

{% macro render_pagination(pagination) %}
  <ul class="pure-paginator">
  {% if pagination.has_prev%}
  <li><a href="{{ url_for_other_page(pagination.page - 1) }}" class="pure-button prev">&#171;</a></li>
  {% endif %}
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
      <li><a href="{{ url_for_other_page(page) }}" class="pure-button">{{ page }}</a></li>
      {% else %}
      <li><a href="#" class="pure-button pure-button-active">{{ page }}</a></li>
      {% endif %}
    {% else %}
      <li><span class="ellipsis pure-button">…</span></li>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
  <li><a href="{{ url_for_other_page(pagination.page + 1) }}" class="pure-button next">&#187;</a></li>
  {% endif %}
  </ul>
{% endmacro %}

{% macro render_errors(field) %}
    {% if field.errors %}
        {% for error in field.errors %}
        <div class="alert alert-error">{{ error }}</div>
        {% endfor %}
    {% endif %}
{% endmacro %}
