{% macro sub_form(form) -%}
  {% for field in form %}
    {% if "csrf" not in field.short_name %}
      {% if field.flags.required %}
        {{ field.label(class="label long sub required") }}
      {% else %}
        {{ field.label(class="label long sub") }}
      {% endif %}
        {{ field() }}
      <br />  
    {% endif %}
  {% endfor %}
{%- endmacro %}


{% macro render(field, colon=True) -%}
  {% if field.flags.required %}
    {{ field.label(class="label long sub required") }}{% if colon %}:{% endif %}
  {% else %}
    {{ field.label(class="label long sub") }}{% if colon %}:{% endif %}
  {% endif %}
    {{ field() }}
  <br />
{%- endmacro %}

{% macro bool_render(field) -%}
  {{ field() }}
  {{ field.label(class="label long sub") }}
  <br />
{%- endmacro %}
