{% macro sub_form(form) -%}
  {% for field in form %}
    {% if "csrf" not in field.short_name %}
      {% if field.flags.required %}
        {{ field.label(class="label long sub required") }}
      {% else %}
        {{ field.label(class="label long sub") }}
      {% endif %}
        {{ field() }}
      <br />  
    {% endif %}
  {% endfor %}
{%- endmacro %}


{% macro render(field, colon=True) -%}
  {% if field.flags.required %}
    {{ field.label(class="label long sub required") }}{% if colon %}:{% endif %}
  {% else %}
    {{ field.label(class="label long sub") }}{% if colon %}:{% endif %}
  {% endif %}
    {{ field() }}
  <br />
{%- endmacro %}

{% macro bool_render(field) -%}
  {{ field() }}
  {{ field.label(class="label long sub") }}
  <br />
{%- endmacro %}

{% macro render_pagination(pagination) %}
  <div class=pagination>
  {% if pagination.has_prev%}
    <a href="{{ url_for_other_page(pagination.page - 1)
      }}">&laquo; Prev</a>
  {% endif %}
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
    <a href="{{ url_for_other_page(pagination.page + 1)
      }}">Next &raquo;</a>
  {% endif %}
  </div>
{% endmacro %}
