<div id="application">
  <table class="application" style="margin-bottom: 0px; border-bottom: 0px;">
    <tr>
      <th colspan="2">CRRR Volunteer Application</th>
    </tr>
    <tr>
      <th colspan="2" class="subheading">Personal Information</th>
    </tr>
    {% for field in form.personal_info %}
    <tr>
      <td>{{ field.label(class="label required") }}:</td>
      <td>{{ field() }}</td>
    </tr>
    {% endfor %}
    <tr>
      <th colspan="2" class="subheading">Volunteering Information</th>
    </tr>
    {% for field in form.volunteer_for %}
      {% if field.data %}
      <tr>
        <td>{{ field() }}</td>
        <td>{{ field.label(class="label") }}</td>
      </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>
