<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8" />
    {% if g.title %}
      <title>{{ g.title }}</title>
    {% else %}
      <title>Colorado Rhodesian Ridgeback Rescue</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='crrr.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/animated_favicon1.gif') }}" type="image/gif">
    <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
    {% if config.get('GOOGLE_ANALYTICS_ID') %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ config.get('GOOGLE_ANALYTICS_ID') }}']);
        _gaq.push(['_trackPageview']);
        (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% endif %}    
    {% endblock %}
  </head>
<body class="pure-skin-crrr">
    <div id="layout">
       <!-- Menu toggle -->
       <a href="#menu" id="menuLink" class="pure-menu-link">
           <span></span>
       </a>
       <div id="menu">{% include "includes/nav.html" %}</div>
       <div id="main">
          <header role="banner" class="pure-u-1">
          {% include "includes/header.html" %}
          </header>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="pure-u-1">
                <ul class="flashes">
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          {% endwith %}
          <div class="content pure-u-1">{% block content %}{% endblock %}</div>
          <footer role="contentinfo" class="pure-u-1">
          {% include "includes/footer.html" %}
          </footer>
        </div> <!-- main -->
    </div> <!-- layout -->
</body>
</html>
