{% extends "layout.html" %}
{% block content %}
{% from "_helpers.html" import render, bool_render %}
{% if form %}
The CRRR depends on support from community members like yourself to be able to
provide a caring environment for our rescued Ridgebacks. We have numerous
oportunities for helping out, ranging from the time and emotionally intensive
fostering of dogs, to the shuffling of paperwork, to the screening of potential
adopters. If you are in any way interested in assisting us, please fill out the
form below. Thank you for your interest!
<div id="application">
  <div class="application" style="margin-bottom: 0px; border-bottom: 0px;">
    <form method="POST" action="/volunteer">
    {{ form.hidden_tag() }}
    <div class="heading">CRRR Volunteer Application</div>
    <div class="subheading">Personal Information</div>
    {% if form.errors %}
    <ul class="errors">
      {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
          <li>{{ form[field_name].label() }}: {{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
    {% endif %}
    {{ render(form.first_name) }}
    {{ render(form.last_name) }}
    {{ render(form.addr_1) }}
    {{ render(form.addr_2) }}
    {{ render(form.city) }}
    {{ render(form.state) }}
    {{ render(form.zip_code) }}
    {{ render(form.phone_h) }}
    {{ render(form.phone_c) }}
    {{ render(form.phone_w) }}
    {{ render(form.email) }}
    <div class="subheading">Volunteering Information</div>
    Please select all that you are able to assist with:<br />
    {{ bool_render(form.foster) }}
    {{ bool_render(form.transport) }}
    {{ bool_render(form.home_check) }}
    {{ bool_render(form.adopter_check) }}
    {{ bool_render(form.donate_crate) }}
    {{ bool_render(form.donate_supplies) }}
    <div class="subheading"><input type="submit" value="Send" /></div>
  </div> <!-- APPLICATION -->
</form>
{% else %}
Thank you for your interest in becoming a volunteer.  A representative of Colorado Rhodesian Ridgeback Rescue, (CRRR), will be in contact with you.<br />
{% endif %}
{% endblock %}
