{% extends "layout.html" %}
{% block content %}
{% if form.login_errors %}
  <ul class="missing">
    {% for error in form.login_errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}
<form method="POST" action={{ url_for('admin.login') }} class="pure-form">
  {{ form.hidden_tag() }}
  <fieldset class="pure-group">
    {{ form.username(placeholder="Username", required="", class="pure-input-1-2") }}
    {{ form.password(placeholder="Password", required="", class="pure-input-1-2") }}
  </fieldset>
  {{ form.submit(class="pure-button pure-input-1-2 pure-button-primary") }}
</form>
<div class="l-centered"><a href="{{ url_for('admin.reset') }}">Reset Password</a></div>
{% endblock %}
